.text-sheper {
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    letter-spacing: 0.0625em;
}

.tagcloud--item {
    color: #fff;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ff6817;
}




.text-sheperT {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.tagcloudT {
    display: inline-block;
    top: 0;
    left: 0;
    letter-spacing: 0.0625em;
}
.tagcloudT--item::after
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ff6817;
}
.tagcloudT--item {
    color: #fff;
    text-transform: uppercase;
}

.tagcloudT--item:hover {
    color: #ff6817;
}

a
{
    color: #f4ac85;
}
